.road {
    position: fixed;
    width: 500px;
    height: 90vh;
    bottom: 0;
    background: #19061F;
}

#player {
    position: absolute;
    width: 60px;
    transform: translateY(75vh);
}

.enemy {
    position: absolute;
    width: 90px;
}

.bg_sprite {
    position: absolute;
}

.stars_1 {
    position: absolute;
    width: 500px;
    transform: translate(-50%, 0%);
}

.stars_2 {
    position: absolute;
    width: 500px;
    transform: translate(-50%, -100%);
}

.nebula_1 {
    transform: translate(-30vh, 10vh);
    width: 300px;
}

.nebula_2 {
    transform: translate(2vh, 35vh);
    width: 200px;
}

#pause_button {
    position: fixed;
    background: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.07s ease;
}

#pause_button:hover {
    transform: scale(1.15, 1.15) rotate(10deg);
}

#pause_button img {
    width: 50px;
}

#pause_button #play {
    display: none;
}
